html {
    box-sizing: border-box;
  }
  
  *, ::before, ::after {
    box-sizing: inherit;
  }
  
body {
font-family: 'Roboto', sans-serif;
font-size: 20px;
background-color: rgb(190, 190, 190);
/*margin:0;
padding:20px;*/

}

h1{
    font-weight: bold;
    font-size: 30px;
}

h2{
font-weight: bolder;
font-size: 25px;
}

.container{
    display: flex;
    flex-direction: column;
}

.symbol__images--size {
opacity: 60%;
height: 15em;
margin:20px;
border: 1px, solid, gray;
}

.menu__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4,10em);
    column-gap: 20px;
}


.menu__item--1{
grid-column-start: 1;
grid-column-end: 2;     
}

.menu__item--2{
grid-column-start: 2;
grid-column-end: 3;
}

.menu__item--3{
    grid-column-start: 3;
    grid-column-end: 4; 
}

.menu__item--4{
    grid-column-start: 4;
    grid-column-end: 5;
 
}
.menu__item--active:hover{
    transform:translate(-50px);
    transform:scale(1.1);
}


.menu__photo--small {
height: 15em;
max-width: 100%;
border:2px solid gray;
border-radius: 10px;
opacity: 90%;
object-fit: cover;
}


.Rokycany--site {   
width: 100%
}


.footer {
    text-align: center;
    background-color: rgb(182, 176, 176);
   
}

/********PC**********/
@media screen and (min-width: 1000px) {
    .header {
    display: flex;
    justify-content: space-around;
  
}
.Rokycany--site {
object-fit: cover;
}

}
