html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
font-family: 'Roboto', sans-serif;
background-color: darkgray;
margin:0;
pading: 20px 60px;
}


:root
--mar: 30px;

.container {
   /* grid-template-columns: 40% 60%;
    grid-template-rows: 20% 70% 10%;*/
display: grid;
grid-template-areas: 
    "symbol none menu menu menu menu"
    "none  none content content contet content"
    "footer footer footer footer footer footer";   
}

.header {
    display: flex;
    justify-content: space-around;
}

.symbol {
    margin: var(--mar);  
    grid-template-rows: symbol;
}

.symbol__images{
opacity: 60%;
}

.menu__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: 200px;
    column-gap: 10px;

}
./* ---jan good
menu__item {
    display: flex;
    flex-direction: column;
}
*/
.menu__photo {
max-width: 100%;
}
.menu__item--1{
grid-column-start: 1;
grid-column-end: 2;     
}

.menu__item--2{
grid-column-start: 2;
grid-column-end: 3;
}

.menu__item--3{
    grid-column-start: 3;
    grid-column-end: 4; 
}

.menu__item--4{
    grid-column-start: 4;
    grid-column-end: 5;
}
.menu__item--active:hover{
    transform:translate(-50px);
    transform:scale(1.1);
}
.menu__photo {
    display: block;
    margin: 10px;
}

.menu__photo--small {
height: 200px;
border:2px solid gray;
border-radius: 10px;
opacity: 90%;
object-fit: cover;
}

.main {
    /*display: flex;
    justify-content: flex-end;*/
}

.content--style {
   grid-area: content;
   height: 600px;
   background-image: url(images/Rokycany.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   max-width: 100%;
   margin: 50px 100px 50px 400px;
}


.footer {
    text-align: center;
}